.center-div {
    text-align: center;
}

.back{
    background-color: #ffffff;
}

.bodyBackground{
    background-color: #f3f4f5;
}

.radious{
    border: none;
    border-radius: 20px !important;
}

.navbar-toggler{
    border: none !important;
}

.linkStyle{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.linkStyle:hover{
    color: #198754;
}