.center-div {
    text-align: center;
}

.back{
    background-color: #ffffff;
}

.bodyBackground{
    background-color: #f3f4f5;
}

.radious{
    border: none;
    border-radius: 20px !important;
}

.navbar-toggler{
    border: none !important;
}

.linkStyle{
    text-decoration: none;
    color: black;
}

.linkStyle:hover{
    color: #198754;
}

.linkStyle2{
    text-decoration: none;
    color: black;
}

.footerHeading{
    font-size: 20px;
    font-weight: bold;
}

.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}